{% extends "base.html.twig" %}

{% block title %} Ma page produit {% endblock %}

{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-sm-4">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{ product }}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}